/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap');
/* font-family: 'Ms Madi', cursive; */
/* Reset Css */
*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
/* **************** */
/* Modal Area Start */
.modal-area {
    background-color: #607EAA;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Ms Madi', cursive;
    font-weight: bold;
}
.inputs {
    background-color: aqua;
    text-align: center;
    height: 10vh;
    font-size: 3rem;
    transition: all 0.7s ease;
}
.inputs:hover {
    height: 150px;
}
.inputs:focus {
    outline: none;
}
.game-start-button-area {
    margin-top: 50px;
}
.game-start-button {
    width: 550px;
    height: 8vh;
    font-size: 5rem;
    background-color: azure;
    text-align: center;
}
/* Modal Area End */
/* Game Area Start */
.game-area {
    display: none;
    background-color: #FFB200;
    height: 100vh;
    width: 100%;
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Ms Madi', cursive;
    font-weight: bold;
}
span {
    margin-right: 15px;
}
.title {
    font-size: 4rem;
    border: 5px solid black;
    padding: 10px 25px 10px 25px;
    border-radius: 25px;
}
.current-player {
    font-size: 3rem;
    margin-top: 1rem;
    border: 3px solid black;
    padding: 7px 10px 7px 10px;
    border-radius: 15px;
}
.active-player-text,
.next-player-text{
    color: white;
    padding-left: 5px;
}
.table-area {
    width: 40rem;
    height: 40rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin-top: 45px;
    margin-bottom: 45px;
}
.table {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    width: 99%;
    height: 99%;
    border: 3px solid black;
    border-radius: 15px;
    background-color: #FFCB42;
    margin: 3px;
    transition: 0.5s all;
    color: #277BC0;
}
.table:hover {
    background-color: #FFF9CA;
    font-size: 5rem;
}
.score-board {
    height: 15rem;
    display: grid;
    align-items: center;
    justify-content: center;
    border: 3px solid black;
    border-radius: 15px ;
}
.score-board-title {
    font-size: 3rem;
    margin: 15px;
}
.total-game {
    font-size: 2rem;
}
.total-game span {
    color: white;
}
.score-board-text {
    font-size: 2rem;
}
.score-board-text span {
    color: white;
}
.reset-button {
    background-color: green;
    width: 350px;
    height: 7rem;
    margin-bottom: 2rem;
    font-size: 3rem;
    border: 5px solid black;
    border-radius: 25px;
}
.timer-area{
    display: flex;
    align-items: center;
    justify-content: center;
}
.timer-area-x,
.timer-area-o {
    width: 10rem;
    height: 155px;
    margin: 25px;
    border: 3px solid black;
    border-radius: 50%;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
}
.timer-area-x-text,
.timer-area-o-text {
    color: #277BC0;
    font-weight: bold;
}
.open-modal-area {
    margin: 15px;
}
.open-modal-button {
    background-color: #A5F1E9;
    width: 15rem;
    height: 5vh;
    font-size: 3rem;
    cursor: pointer;
}
/* Game Area End */